<div class="container">
	{{#if validLink}}
	<h1>Password reset</h1>
	<form action='' id='forgotPasswordForm'>
		<div class="m-3">
			<label for=''>Email</label>
			<input type='email' name='email' />
		</div>
		<div class="m-3">
			<label for=''>New password</label>
			<input type='password' name='password' />
		</div>

		<button type='submit' class="btn btn-secondary">Create new password</button>
	</form>
	{{else}}
	<h2>Error 404. Not found</h2>
	<h4>Expired link</h4>
		<a href='/api/resetPassword' class="btn btn-secondary">Back to Reset Password</a>
	{{/if}}
	
	<a href='/api/login' class="btn btn-secondary">Back to Login</a>
</div>


<script src='/js/forgotPassword.js'></script>