<section class='m-5 d-flex justify-content-end'>
	<a href='/api/products' class='btn btn-secondary fs-5'>Continue without logging in</a>	
</section>

<div class='container'>
	{{#if validLink}}
		<h1>Password reset</h1>
		<div class='container-forgotPass col-md-8'>
			<form action='' id='forgotPasswordForm' class=' fs-3'>
				<div class='m-3'>
                    <input type='email' name='email' placeholder='Email' class='w-75 text-center' />
                </div>
				<div class='m-3'>
                    <input type='password' name='password' placeholder='New password' class='w-75 text-center' />
                </div>

				<button type='submit' class='btn btn-secondary fs-3'>Create new password</button>
			</form>
			<div class='col-md-12'>
				<p class='fs-4 text-end'>Back to <a href='/api/login'>Log in.</a></p>
			</div>
		</div>
	{{else}}
		<h2>Error 404. Not found</h2>
		<h4>Expired link</h4>
			<p class='fs-4 text-end'>Back to <a href='/api/resetPassword'>Back to Reset Password</a></p>
	{{/if}}

</div>


<script src='/js/forgotPassword.js'></script>