<h2>Password reset</h2>

<form action="" id="forgotPasswordForm">
    <label for="">Email</label>
    <input type="email" name="email">
    
    <label for="">New password</label>
    <input type="password" name="password">

    <button type="submit">Create new password</button>
</form>

<script src="/js/forgotPassword.js"></script>