<div class="container">
	<h1>Password reset</h1>
	<form action='' id='forgotPasswordForm'>
		<div class="m-3">
			<label for=''>Email</label>
			<input type='email' name='email' />
		</div>
		<div class="m-3">
			<label for=''>New password</label>
			<input type='password' name='password' />
		</div>

		<button type='submit' class="btn">Create new password</button>
	</form>
	
	<a href='/api/login' class="btn">Back to Login</a>
</div>


<script src='/js/forgotPassword.js'></script>