<header id='header' class='p-4 d-flex justify-content-between'>
	<img src='/img/logo.png' alt='logo' width='100' class="mx-5">
	<div>
		<a href='/api/login' class='btn btn-outline-dark fs-4 m-4'>Log in</a>	
		<a href='/api/signup' class='btn btn-outline-dark fs-4 m-4'>Sign up</a>	
	</div>
</header>

<div id='banner' class='d-flex justify-content-center align-items-center mt-5'>
	<a href='/api/products' class='btn btn-light fs-1'>Begin shopping!</a>
</div>