<header id='header' class='p-4 d-flex justify-content-between'>
	<img src='/img/logo.png' alt='logo' width='100'>
	<a href='/api/products' class='btn btn-outline-dark fs-4 m-4'>Continue without logging in</a>
</header>

<div id='container-form-login' class='d-flex flex-column justify-content-center align-items-center mt-5'>
	<div class='container-login col-md-4'>
		<img src='/img/account-form.svg' alt='account icon' width='150' height='150' id='account-form-icon'>
		<form action='' id='formLogin' class='fs-3 d-flex flex-column align-items-center row'>
			<div class='mb-3'>
				<input type='email' name='email' placeholder='username' class='w-100 text-center' />
			</div>
			<div class='mb-3'>
				<input type='password' name='password' placeholder='password' class='w-100 text-center' />
			</div>

			<button type='submit' class='btn btn-dark fs-3'>Log in</button>
		</form>
		<div class='d-flex flex-column align-items-center mt-5 fs-4'>
			<p class='m-3'>Don't have an account? <a href='/api/signup'>Sign Up</a></p>
			<a href='/api/resetPassword' class='m-3'>Forgot your password?</a>
		</div>
	</div>

	<div class='d-flex justify-content-evenly col-md-4 mt-5'>
		<a href='/api/auth/github' class='btn btn-outline-dark fs-3'><img src='/img/github.svg' alt='github icon' width='32'> Github</a>
		<a href='/api/auth/google' class='btn btn-outline-dark fs-3'><img src='/img/google.svg' alt='google icon' width='32'> Google</a>
	</div>
</div>

<script src='/js/login.js'></script>