<h2>Login</h2>

<form action="" id="formLogin">
    <label for="">Username</label>
    <input type="email" name="email">
    
    <label for="">Password</label>
    <input type="password" name="password">

    <button type="submit">Log in</button>
</form>

<br>
<a href="/api/auth/github">Login with Github</a>
<br>

<a href="/api/forgotPassword">Password reset</a>

<script src="/js/login.js"></script>