<div class="container">
	<h1>Login</h1>
	<div class="container-login">
		<form action='' id='formLogin'>
			<div class="m-3">
				<label for=''>Username</label>
				<input type='email' name='email' />
			</div>

			<div class="m-3">
				<label for=''>Password</label>
				<input type='password' name='password' />
			</div>

			<button type='submit' class="btn">Log in</button>
		</form>

		<div>
			<a href='/api/auth/github' class="btn">Login with Github</a>
			<a href='/api/auth/google' class="btn">Login with Google</a>
		</div>

	</div>

	<div>
		<a href='/api/forgotPassword' class="btn">Password reset</a>
		<a href='/api/signup' class="btn">Register</a>
	</div>

</div>

<script src='/js/login.js'></script>