<div class="col-md-6 offset-3 border mt-5 text-center">
	<h2>Login</h2>
	<form action='' id='formLogin'>
		<label for=''>Username</label>
		<input type='email' name='email' />

		<br>
		<label for=''>Password</label>
		<input type='password' name='password' />

		<br>
		<button type='submit'>Log in</button>
	</form>

	<br />
	<a href='/api/auth/github'>Login with Github</a>
	<br />
	<br />
	<a href='/api/auth/google'>Login with Google</a>
	<br />
	<br />
	<br />
	<a href='/api/forgotPassword'>Password reset</a>
</div>

<script src='/js/login.js'></script>