<div class="card">
    <h1>Profile</h1>

    <label for=''>First name</label>
    <p class="bold">{{user.first_name}}</p>

    <label for=''>Last name</label>
    <p class="bold">{{user.last_name}}</p>

    <label for=''>Age</label>
    <p class="bold">{{user.age}}</p>

    <label for=''>Email</label>
    <p class="bold">{{user.email}}</p>

    <a href='/api/products' class="btn">Home</a>
    <a href='/api/auth/logout' class="btn mt-3">Log out</a>
</div>