<h2>Profile</h2>

<label for="">First name</label>
<p>{{user.first_name}}</p>

<label for="">Last name</label>
<p>{{user.last_name}}</p>

<label for="">Email</label>
<p>{{user.email}}</p>

<a href="/api/auth/logout">Cerrar sesión</a>