<div class="container">
	<h1>Password reset</h1>
    <p>We'll send you an email to confirm that you want to reset your password.</p>
    {{#if emailSent}}
        <h2 class="text-success">Email sent</h2>
    {{else}}  
        <form action='' id='emailResetPasswordForm'>
            <div class="m-3">
                <label for=''>Email</label>
                <input type='email' name='to' />
            </div>
            <button type='submit' class="btn btn-secondary">Send email</button>
        </form>
        <p class="text-danger">Enter a correct user</p>
    {{/if}}
</div>


<script src='/js/emailResetPassword.js'></script>