<h2>Sign up</h2>

<form action='' id='formSignup'>
	<label for=''>First name</label>
	<input type='text' name='first_name' />

	<label for=''>Last name</label>
	<input type='text' name='last_name' />

	<label for=''>Age</label>
	<input type='number' name='age' />

	<label for=''>Email</label>
	<input type='email' name='email' />

	<label for=''>Password</label>
	<input type='password' name='password' />

	<label for=''>Role</label>
	<input type='text' name='role' />

	<button type='submit'>Sign up</button>
</form>

<script src='/js/signup.js'></script>