{{#if ticket}}
    <h2>Ticket purchase</h2>
    <p>Code: <span>{{ticket.code}}</span></p>
    <p>Date: <span>{{ticket.purchase_datetime}}</span></p>
    <p>Amount: <span>{{ticket.amount}}</span></p>
    <p>Purchaser: <span>{{ticket.purchaser}}</span></p>
{{/if}}